.review-list {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  min-height: 100vh;
  /* background: hsla(194, 93%, 53%, 1);

  background: linear-gradient(
    315deg,
    hsla(194, 93%, 53%, 1) 5%,
    hsla(218, 98%, 56%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(194, 93%, 53%, 1) 5%,
    hsla(218, 98%, 56%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(194, 93%, 53%, 1) 5%,
    hsla(218, 98%, 56%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#18c3f7", endColorstr="#2173fd", GradientType=1 ); */
}

.review-list_container h2 {
  font-size: 26px;
  color: #2173fd;
}
.review-list_container_groups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.review-card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  max-height: 300px;
  border-radius: 10px;
  padding: 1rem 1rem 0rem;
  border-top: 30px solid #2173fd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.review-card-list_title {
  margin-bottom: 2rem;
}
.review-card-list_title h1 {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}
.review-card-list_title p {
    color: #2173fd;
}

.review-card-list_disc {
  margin-bottom: 2rem;
}
.no_review {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 481px) and (max-width: 820px) {
  .review-list {
    padding: 3rem 0;
  }
  .review-list_container h2 {
    text-align: center;
  }
  .review-list_container_groups {
    padding: 0 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .review-card-list {
    width: 250px;
  }
  .review-card-list {
    width: 90%;
  }
}

@media screen and (min-width: 322px) and (max-width: 480px) {
  .review-list {
    padding: 3rem 0;
  }
  .review-list_container h2 {
    text-align: center;
  }
  .review-list_container_groups {
    grid-template-columns: auto;
  }
  .review-card-list {
    width: 90%;
  }
}
@media screen and (min-width: 100px) and (max-width: 321px) {
  .review-list {
    padding: 3rem 0;
  }
  .review-list_container h2 {
    text-align: center;
  }
  .review-list_container_groups {
    grid-template-columns: auto;
  }
  .review-card-list {
    width: 90%;
  }
}
