.ey-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
      background: hsla(194, 93%, 53%, 1);

  background: linear-gradient(
    315deg,
    hsla(194, 93%, 53%, 1) 5%,
    hsla(218, 98%, 56%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(194, 93%, 53%, 1) 5%,
    hsla(218, 98%, 56%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(194, 93%, 53%, 1) 5%,
    hsla(218, 98%, 56%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#18c3f7", endColorstr="#2173fd", GradientType=1 );
}
.nobooking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.nobooking img {
    height: 80%;
    width: 70%;
}

.ey-details_container-hotel {
    width: 375px;
    height: 80%;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.ey-details_header {
    padding: 1rem ;
    background-color: rgb(39, 136, 246);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}
.ey-details_body-list {
    padding: 0 1rem;
}
.ey-details_body-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    border-bottom: 1px solid gray;
}
.ey-details_body-list-item-icon {
    padding-right: 1rem;
}
.ey-details_body-list-item_title {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.ey-details_body-list-item_title h1 {
    white-space: nowrap;
}
.ey-details_body-list-item_title img {
    height: 50px;
    width: 50px;
}
.ey-details_body-list-item_title p {
    padding: 0 1rem 0 0.5rem;
    font-size: 18px;
}
@media screen and (min-width: 100px) and (max-width: 321px) {
    .ey-details_container- {
        width: 95%;
    }
    .ey-details_header h1 {
        font-size: 22px;
    }

}
@media screen and (min-width: 322px) and (max-width: 460px) {
    .ey-details_container {
        width: 95%;
    }
    .ey-details_header h1 {
        font-size: 22px;
    }
}
