.hotel-container-details {
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem;
}
.hotel-images {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 400px;
  gap: 1rem;
}
.hotel-images-1 {
  height: 100%;
  width: 50%;
}
.hotel-images-2 {
  height: 50%;
  width: 50%;
}
.hotel-images-3 {
  height: 50%;
  width: 50%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotel-title {
  padding: 2rem 2rem;
  width: 75%;
  display: flex;
  justify-content: flex-start;
}
.hotel-title-1 p {
  font-size: 18px;
  font-weight: 500;
  color: #2173fd;
  align-self: flex-end;
}
.hotel-title-rating {
  width: 100%;
  display: flex;
  align-items: center;
}
.hotel-title-rating h3 {
    font-size: 20px;
    margin-left: 40rem ;
    text-align: center;
    color: #f4c430;

}
.hotel-title-rating h1 {
    white-space: nowrap;
}
.hotel-title-2 {
    margin-top: 2rem;
}
.hotel-title-2 h4 {
    font-size: 20px;
    margin-bottom: 0.75rem;
    color: rgb(124, 124, 124);
}
.hotel-title-2 p {
    color: #252525;
}
.hotel-title-3 {
  display: flex;
  padding: 2rem;
  gap: 5rem;
}
.hotel-title-3_1 h5 {
  font-size: 22px
}
.hotel-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.hotel-footer button {
  padding: 0.75rem 2rem;
  outline: 0;
  border: 0;
  color: white;
  background-color: #2173fd;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all ease-in 0.05s;
}
.hotel-footer button:hover {
  background-color: #365894;
}
.hotel-footer-price h5 {
  font-size: 25px;
  font-weight: bold;
}
.hotel-footer-price p {
  font-size: 14px;
  font-weight: bold;
}
@media screen and (min-width: 321px) and (max-width: 450px) {
  .hotel-container-details {
    margin-top: 2rem;
    padding: 1rem 0;
    
  }
  .hotel-images {
    width: 100%;
    gap: 5px;
  }
  .hotel-title-2 {
    margin: 0;
    width: 100%;
  }
}
@media screen and (min-width: 451px) and (max-width: 1025px) {
  .hotel-images {
    height: 50% ;
  }
  .hotel-title-rating h3 {
    margin: 0;
  }
  .hotel-title-rating {
    justify-content: space-between;
  }
}
@media screen and (min-width: 321px) and (max-width: 450px) {
  .hotel-container-details {
    margin-top: 2rem;
    padding: 1rem 0;
    
  }
  .hotel-images {
    width: 100%;
    gap: 5px;
  }
  .hotel-images-1 {
    height: 100%;
  }
  .hotel-title {
    padding: 0 ;
    width: 100%;
    
    margin-top: 1rem;
  }
  .hotel-title-1 h1 {
    font-size: 20px;
  }
  .hotel-title-1 {
    padding-left: 10px;
  }
  .hotel-title-rating {
    justify-content: space-between;
  }
  .hotel-title-rating h1 {
    font-size: 16px;
    
  }
  .hotel-title-rating h3 {
    margin: 0;
    margin-right: 1rem;
  }
  .hotel-title-2 {
    width: 100%;
  }
  .hotel-title-2 p {
    font-size: 12px;
  }
  .hotel-title-3 {
    padding: 1rem 0;
  }
  .hotel-footer {
    padding: 2rem 0;
   margin-right: 1rem;
    gap: 2rem;
    align-items: flex-end;
  }
  .hotel-footer button {
    height: 100%;
    padding: 1rem 10px;
    font-size: 14px;
    white-space: nowrap;
  }
}

@media screen and (min-width: 321px) and (max-width: 450px) {
  .hotel-container-details {
    margin-top: 2rem;
    padding: 1rem 0;
    
  }
  .hotel-images {
    width: 100%;
    gap: 5px;
  }
  .hotel-title-2 {
    margin: 0;
    width: 100%;
  }
    .hotel-title-2 h4 {
    font-size: 16px;
  }
}

@media screen and (min-width: 100px) and (max-width: 320px) {
  .hotel-container-details {
    margin-top: 2rem;
    padding: 1rem 0;
    
  }
  .hotel-images {
    width: 100%;
    height: 55%;
    gap: 5px;
  }
  .hotel-images-1 {
    height: 100%;
  }
  .hotel-title {
    padding: 0 ;
    width: 100%;
    
    margin-top: 1rem;
  }
  .hotel-title-1 h1 {
    font-size: 20px;
  }
  .hotel-title-1 {
    padding-left: 10px;
  }
  .hotel-title-rating {
    justify-content: space-between;
  }
  .hotel-title-rating h1 {
    font-size: 16px;
    
  }
  .hotel-title-2 h4 {
    font-size: 16px;
  }
  .hotel-title-rating h3 {
    margin: 0;
    margin-right: 1rem;
  }
  .hotel-title-2 {
    width: 100%;
  }
  .hotel-title-2 p {
    font-size: 12px;
  }
  .hotel-title-3 {
    padding: 1rem 0;
  }
  .hotel-footer {
    padding: 2rem 0;
   margin-right: 1rem;
    gap: 2rem;
    align-items:end ;
  }
  .hotel-footer button {
    height: 100%;
    padding: 1rem 10px;
    font-size: 14px;
    white-space: nowrap;
  }
}
