@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.section-padding {
    padding: 2rem 4rem
}

@media screen and (min-width: 481px) and (max-width: 820px) {
    .section-padding {
        padding: 1rem 2rem;
    }
}
/* mobile ratio */
@media screen and (min-width: 100px) and (max-width: 480px) {
    .section-padding {
        padding: 0.50rem 1rem;
    }
}