.ey-hotel_search {
  background-image: url("../assets/HotelCP.jpg");
  background-size: cover;
  height: 60vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ey-hotel_search h1 {

  margin-bottom: 1rem ;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.ey-hotel_search-card {
  display: flex;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  flex-direction: column;
}
.ey-hotel_search-card-form-group10 {
  margin-right: 10px ;
  margin-top: 20px;
}
.ey-hotel_search-card-form-group10 input {
  border-radius: 5px;
  outline: 0;
}
.ey-hotel_search-card-form-group1 {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ey-hotel_search-card button {
    background-color: tomato;
    margin-left:1rem ;
    margin-top: 20px;
    padding: 0.50rem 3rem;
    font-size: 18px;
    color: white;
    font-weight: 300;
    outline: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.ey-hotel_search-card button:hover {
  background-color: rgb(223, 74, 47);
}
.ey-hotel_search-card input {
  padding: 0.35rem 1rem;
  font-size: 16px;
}
.ey-deals {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 2rem;
}
.ey-travel_deals-title {
    text-align: center;
}
.ey-travel_deals-title p {
    margin-top: 10px;
    color: #2173fd;
    font-size: 16px;
}
.ey-travel_deals {
    margin-bottom: 5rem;
  height: 200px;
  width: 200px;
}
.ey-travel_deals img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
}
/* .pop {
  padding-top: 2rem;

} */

@media screen and (min-width: 481px) and (max-width: 1100px) {
  .ey-hotel_search {
    height: 80vh;
  }
  .ey-hotel_search-card {
    width: 450px;
    padding: 1rem ;
  }
  .form {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
    .ey-hotel_search-card-form-group10 {
    padding: 1rem 0 2px;
    margin: 0;
    width: 100%;
  }
  .ey-hotel_search-card-form-group10 input {
    width: 100%;
    padding: 10px 0;
    padding-left: 5px;
  }
  .ey-hotel_search-card-form-group1 {
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }
    .ey-hotel_search-card-form-group1 input {
    width: 100%;
    border-radius: 5px;
    outline: 0;
    border: 1px solid gray;
    padding: 10px 2px;
    padding-left: 5px;
  }
    .ey-hotel_search-card button {
    width: 100%;
    margin-left: 0;
  }

}
/* mobile ratio */
@media screen and (min-width: 322px) and (max-width: 480px) {
  .ey-hotel_search {
    height: 80vh;
  }
  .ey-hotel_search-card {
    height: 350px;
    width: 85%;
    justify-content: center;
  }
  .form {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  .ey-hotel_search-card-form-group10 {
    padding: 1rem 0 2px;
    margin: 0;
    width: 100%;
  }
  .ey-hotel_search-card-form-group10 input {
    width: 100%;
    padding: 10px 0;
    padding-left: 5px;
  }
  .ey-hotel_search-card-form-group1 {
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }
    .ey-hotel_search-card-form-group1 input {
    width: 100%;
    border-radius: 5px;
    outline: 0;
    border: 1px solid gray;
    padding: 10px 2px;
    padding-left: 5px;
  }
    .ey-hotel_search-card button {
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (min-width: 100px) and (max-width: 321px) {
  .ey-hotel_search {
    height: 80vh;
  }
  .ey-hotel_search-card {
    height: 350px;
    width: 85%;
    justify-content: center;
  }
  .form {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  .ey-hotel_search-card-form-group10 {
    padding: 1rem 0 2px;
    margin: 0;
    width: 100%;
  }
  .ey-hotel_search-card-form-group10 input {
    width: 100%;
    padding: 10px 0;
    padding-left: 2px;
    border: 1px solid gray;
  }
  .ey-hotel_search-card-form-group1 {
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }
    .ey-hotel_search-card-form-group1 input {
    width: 100%;
    border-radius: 5px;
    outline: 0;
    border: 1px solid gray;
    padding: 10px 2px;
  }
  .ey-hotel_search-card button {
    width: 100%;
    margin-left: 0;
  }

}
